@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-roboto), system-ui, sans-serif;
  --font-family-mono: var(--font-italiana), monospace;
  --font-family-serif: var(--font-nunito), serif;
}

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, sans-serif;
}
